@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

:root {
  --primary: hsl(213deg 85% 97%);
  --secondary: hsl(233deg 36% 38%);
}

.d-flex {
  display: flex;
}

.gap-2 {
  gap: 12px;
}

.gap-3 {
  gap: 1rem;
}

.jus-between {
  justify-content: space-between;
}



.first-body {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  user-select: none;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(218deg 50% 91%);
  height: 100vh;
}

.screen-1 {
  background: var(--primary);
  padding: 2em;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 0 0 2em hsl(231deg 62% 94%);
  gap: 2em;
}

/* .screen-1 .logo {
  margin-top: -3em;
} */

.screen-1 .email, .screen-1 .password {
  background: hsl(0deg 0% 100%);
  box-shadow: 0 0 2em hsl(231deg 62% 94%);
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 20px;
  color: hsl(0deg 0% 30%);
  font-size: x-large;
}

/* .screen-1 .email {
  margin-top: -3em;
} */

.screen-1 .email input, .screen-1 .password input {
  outline: none;
  border: none;
}

.screen-1 .email input::placeholder, 
.screen-1 .password input::placeholder {
  color: hsl(0deg 0% 0%);
  font-size: 1em;
}

.screen-1 .email ion-icon, 
.screen-1 .password ion-icon {
  color: hsl(0deg 0% 30%);
  margin-bottom: -0.2em;
}

.screen-1 .password .show-hide {
  margin-right: -5em;
}

.screen-1 .login {
  padding: 1em;
  background: var(--secondary);
  color: hsl(0 0 100%);
  border: none;
  border-radius: 30px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.screen-1 .login:active {
  transform: translateY(4px); /* Di chuyển nút xuống */
}

/* .screen-1 .footer {
  display: flex;
  font-size: 0.7em;
  color: hsl(0deg 0% 37%);
  gap: 14em;
  padding-bottom: 10em;
} */

/* .screen-1 .footer span {
  cursor: pointer;
} */

/* button {
  cursor: pointer;
} */

body {
  margin: 0;
  font-family: "Press Start 2P", cursive;
  /* font-size: 2em; */
  color: white;
}
.over-game{
  text-align: center;
}
#start {
  /* position: absolute; */
  /* min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; */
  /* visibility: hidden; */
}
#start-game {
  background-color: red;
  padding: 20px 50px 20px 50px;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}
#box-score{
  position: absolute;
  display: flex;
  gap: 16px;
  min-width: 100%;
  min-height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* visibility: hidden; */
}

#detal-score {
  min-width: 200px;
  min-height: 150px;
  padding: 16px;
  border-radius: 16px;
  color: black;
  background-color: white;
  visibility: hidden;

}

button {
  outline: none;
  cursor: pointer;
  border: none;
  box-shadow: 3px 5px 0px 0px rgba(0, 0, 0, 0.75);
}
#counter {
  position: absolute;
  top: 20px;
  left: 20px;
  /* right: 20px; */
}
#end {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}
#end button {
  background-color: red;
  padding: 20px 50px 20px 50px;
  font-family: inherit;
  font-size: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

table {
font-size: 14px;
border-radius: 10px;
border-spacing: 0;
text-align: center;
}

/* caption {
  margin-bottom: 7px;
  font-size: 20px;
} */

th {
background: rgba(255,137,0,0.9);
padding: 10px 20px;
  color: rgba(129, 69, 0, 1);
}
th, td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: rgba(0,0,0,0.1);
}

th:first-child {
border-top-left-radius: 5px;
}
th:last-child {
border-top-right-radius: 5px;
border-right: none;
}
th:first-child, td:first-child {
padding: 7px 8px;
}

td {
  padding: 7px 20px;
  background: rgba(230,230,230,1);
  color: rgba(0, 0, 0, 0.6);
}

.player td {
  color: rgba(0, 0, 0, 1.0);
  font-weight: bold;
  background: rgba(215, 215, 215, 1);
  color: rgba(0, 0, 0, 0.8);
  
}

tr:last-child td:first-child {
border-radius: 0 0 0 5px;
}
tr:last-child td:last-child {
border-radius: 0 0 5px 0;
}
tr td:last-child {
border-right: none;
}

#controlls {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
#controlls div {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-bottom: 20px;
}
#controlls button {
  width: 100%;
  background-color: white;
  border: 1px solid lightgray;
}
#controlls button:first-of-type {
  grid-column: 1/-1;
}
